@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --softRed: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --darkBrown: hsl(25, 47%, 15%);
  --mediumBrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --paleOrange: hsl(33, 100%, 98%);
}

* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--cream);
  height: 100vh;
}

h2 {
  margin: 0;
}

.container {
  max-width: 340px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--softRed);
  padding: 15px;
  border-radius: 6px;
  align-items: center;
}

#balance-label {
  color: var(--cream);
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 5px;
}

.labels {
  color: var(--mediumBrown);
  font-size: 10px;
  font-weight: 400;
}

#balance-amount {
  color: var(--cream);
  font-size: 18px;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#month-total-amount {
  color: var(--darkBrown);
  font-size: 26px;
  font-weight: 700;
  margin-top: 2px;
  word-spacing: -5px;
}
#percentage-amount {
  align-self: flex-end;
  font-size: 12px;
  font-weight: 700;
  color: var(--darkBrown);
}
#percentage-column {
  margin-bottom: 4.5px;
  display: flex;
  flex-direction: column;
}

#logo {
  width: 40px;
}

/* <==== BAR CHART ====> */

.chart-container {
  margin-top: 10px;
  background-color: var(--paleOrange);
  padding: 15px 20px;
  border-radius: 10px;
}

#chart-label {
  font-size: 22px;
  /* letter-spacing: 1px; */
}

.chart {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 12px;
  justify-content: center;
  align-items: end;
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.label {
  text-align: center;
  color: var(--mediumBrown);
  font-size: 10px;
  margin-top: 5px;
}

li {
  position: relative;
}

.bar {
  z-index: 0;
  background-color: hsl(186, 34%, 60%);
  border-radius: 4px;
  margin-top: 15px;
  position: relative;
}

.bar:hover {
  opacity: 0.8;
}

.hover-item {
  position: absolute;
  margin: auto;
  background-color: var(--darkBrown);
  padding: 6px 4px;
  width: 40px;
  border-radius: 3px;
  left: -8px;
  top: -20px;
  overflow: hidden;
  z-index: 1;
}

.hover-item:hover {
  cursor: pointer;
}

.hover-item p {
  color: var(--cream);
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}

.divider {
  margin: 20px 0;
  background-color: var(--cream);
  opacity: 0.8;
}

@media screen and (max-width: 375px) {
  .container {
    width: 300px;
    height: 105%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
  }

  #chart-label {
    font-size: 20px;
  }

  .hover-item {
    position: absolute;
    margin: auto;
    background-color: var(--darkBrown);
    padding: 6px;
    width: 40px;
    border-radius: 3px;
    left: -12px;
    top: -20px;
    overflow: hidden;
    text-align: center;
  }

  .divider {
    margin: 25px 0;
    background-color: var(--cream);
    opacity: 0.8;
  }
}
